{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{%bootstrap_messages %}

{% block content %}
<link rel="stylesheet" type="text/css" href='{{STATIC_URL}}css/signin.css'/>

<div class="container">
  <div class="row" >
  <div class="col-md-6 col-md-offset-3">
    
    <h1>{% trans "Sign Up" %}</h1>
    
    {% blocktrans %}Already have an account? Then please <a class="btn btn-primary btn-md" href="{{ login_url }}">sign in</a>{% endblocktrans %}
  </div>
  </div>
</div>    

<div class="inset-wide">
    <div class="header" style="color: black;">Sign Up for Account</div>
    <form style="color: black;" class="form" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="password" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary btn-lg" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
 
    </div>
</div>

{% endblock %}


