{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Customer Common Quality List{% endblock %}
{% block toggle_login %}{% endblock %}
	{% block heading %}
	{% endblock %}
	{% load render_table from django_tables2 %}
	<section id="parts">
		{% block content %}
			{% load breadcrumbs %}
			{% block breadcrumbs %}
			{% breadcrumb_style_open %}
				{% breadcrumb_url 'Home' 'index' %}
				{% breadcrumb "Customer Meters" "#" %}
			{% breadcrumb_style_close %}
			{% endblock %}

		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}
		<h1>Customer Meter Quality Items</h1>
		<div style="max-width: 968px; overflow-x:scroll; border-radius:1em;">
			{% render_table table %}
		</div>
		{% endblock %}
	</section>
