{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block title %}Defects Through Time Analysis{% endblock %}

{% block toggle_login %}{% endblock %}

{% block heading %}
Usage Summary
{% endblock %}

{% block content %}
	{% load breadcrumbs %}
	{% block breadcrumbs %}
	{% breadcrumb_style_open %}
		{% breadcrumb_url 'Home' 'index' %}
		{% breadcrumb_url 'Choose Elster RMA' "choose_elster_rma" %}
		{% breadcrumb "Top Five" "#" %}
	{% breadcrumb_style_close %}
	{% endblock %}

<!-- Navigation -->
{% include 'navbar.html' %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['annotationchart']}]}"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["motionchart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data_year = new google.visualization.DataTable();
        data_year.addColumn('string', 'Root Cause');
        data_year.addColumn('date', 'Date');
	data_year.addColumn('number', 'Total');
        data_year.addColumn('number', 'Count');
        data_year.addRows([
		{% for defect in defects_through_months %}
			{% for month_item in defect.months %}
				['{{ defect.defect }}', new Date({{month_item.date_str}}), {{defect.total_count}},{{month_item.count}}],
			{% endfor %}
		{% endfor %}
		{% for month in month_list %}
			['All Others', new Date({{this_year}},{{forloop.counter}}, 1),{{ grand_totals_by_month|get_at_index:forloop.counter }},{{ totals_others_by_month|get_at_index:forloop.counter }}],
		{% endfor %}
        ]);
	
        var chart_year = new google.visualization.MotionChart(document.getElementById('chart_div_year'));
	var options_year = {};
	options_year['state'] = '{"playDuration":15088,"xZoomedDataMin":0,"uniColorForNonSelected":false,"xZoomedDataMax":6,"sizeOption":"_UNISIZE","orderedByY":false,"yAxisOption":"3","xAxisOption":"_ALPHABETICAL","duration":{"multiplier":1,"timeUnit":"D"},"yZoomedDataMin":0,"dimensions":{"iconDimensions":["dim0"]},"yZoomedIn":false,"colorOption":"3","xZoomedIn":false,"showTrails":false,"yZoomedDataMax":7000,"yLambda":1,"nonSelectedAlpha":0.4,"xLambda":1,"orderedByX":true,"iconType":"VBAR","iconKeySettings":[{"key":{"dim0":"Firmware/Upgrades"}},{"key":{"dim0":"All Others"}},{"key":{"dim0":"U6 issue"}},{"key":{"dim0":"No Evaluation Required"}},{"key":{"dim0":"CSB / Recall"}},{"key":{"dim0":"NPF, No Problem Found"}}]}'
	options_year['width'] = 700;
	options_year['height'] = 600;
        chart_year.draw(data_year, options_year);
	
	var data_all = new google.visualization.DataTable();
	data_all.addColumn('string', 'Root Cause');
	data_all.addColumn('number', 'Year');
	data_all.addColumn('number', 'Total');
	data_all.addColumn('number','Count');
	data_all.addRows([
		{% for defect in defects_through_years %}

			{% for year_item in defect.years %}
				['{{ defect.defect }}', {{year_item.year}}, {{defect.total_count}}, {{year_item.count}}],
			{% endfor %}
		{% endfor %}
		{% for year in year_list %}
			['All Others', {{year}},{{ grand_totals_by_year|get_at_index:forloop.counter }},{{ totals_others_by_year|get_at_index:forloop.counter }}],
		{% endfor %}

	]);
	var chart_all = new google.visualization.MotionChart(document.getElementById('chart_div_all'));
	var options_all = {};
	options_all['state'] ='{"playDuration":15088,"xZoomedIn":false,"xZoomedDataMax":6,"sizeOption":"_UNISIZE","yAxisOption":"3","yLambda":0,"yZoomedIn":false,"iconKeySettings":[{"key":{"dim0":"U6 issue"}},{"key":{"dim0":"CSB / Recall"}},{"key":{"dim0":"All Others"}},{"key":{"dim0":"Product/Part Failure"}},{"key":{"dim0":"NPF, No Problem Found"}},{"key":{"dim0":"Firmware"}}],"duration":{"multiplier":1,"timeUnit":"Y"},"time":"2013","yZoomedDataMin":0,"dimensions":{"iconDimensions":["dim0"]},"xZoomedDataMin":0,"colorOption":"3","nonSelectedAlpha":0.4,"uniColorForNonSelected":false,"orderedByX":true,"xLambda":1,"yZoomedDataMax":24000,"orderedByY":false,"xAxisOption":"_ALPHABETICAL","iconType":"VBAR","showTrails":false}'
	
	options_all['width'] = 700;
	options_all['height'] = 600;

        chart_all.draw(data_all, options_all);

        var data = new google.visualization.DataTable();

        data.addColumn('date', 'Date');
	data.addColumn('number', 'Totals');
        data.addRows([
		[new Date(2008,11, 31), 0],
		{% for year in year_list %}
			{% if year == this_year %}
				{% for month in month_list %}
					[ new Date({{this_year}},{{forloop.counter0}}, 15),{{ grand_totals_by_month|get_at_index:forloop.counter }}],
				{% endfor %}
			{% else %}
				[new Date({{year}},11, 31),{{ grand_totals_by_year|get_at_index:forloop.counter }}],
			{% endif %}
		{% endfor %}
        ]);

        var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div'));

        var options = {
          displayAnnotations: true,
	  fill: 30,
	  displayZoomButtons: false,
        };

        chart.draw(data, options);

      }
    </script>
<div style="background-color:white;border-radius:1em;margin-bottom:1em" >
	<div style="margin: 1em auto 1em auto; color: black; ">

		<section id="summary">
			
		<div class="row row-padded" />
		<div class="container">
			<div class = "col-md-12">
			<h1 class="text-center">Top RMA root causes for {{this_year}}</h1>
			</div>
		</div>
		<div class="container">
			<div class = "col-md-12">

			<div id="chart_div_year"></div>
			<div style="height: 1em; "></div>
		</div>
		</div>
		<div class="row row-padded" />
		<div class="container">
			<div class = "col-md-12">
			<h1 class="text-center">RMA root cause counts through time</h1>
			</div>
		</div>
		<div class="container">
			<div class = "col-md-12">
				<div id="chart_div_all"></div>
				<div style="height: 1em; "></div>
			</div>
		</div>
		<div class="row row-padded" />
		<div class="container">
			<div class = "col-md-12">
				<h1 class="text-center">Yearly RMA Totals</h1>
				<div id='chart_div' style='width: auto' ></div>
				<div style="height: 1em; "></div>
			</div>
		</div>
		</section>  
	</div>
</div>
{% endblock %}
