{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Elster Common Quality System{% endblock %}
{% block toggle_login %}{% endblock %}
{% block heading %}
{% endblock %}
{% load render_table from django_tables2 %}

<div class="container">
	{% block content %}

	{% load breadcrumbs %}
	{% block breadcrumbs %}
	{% breadcrumb_style_open %}
		{% breadcrumb_url 'Home' 'index' %}
		{% breadcrumb "Elster-RMA" "#" %}
	{% breadcrumb_style_close %}
	{% endblock %}

	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
		<div class="container"  style="margin:1em; ">
			<h1>Elster Meter Quality Items 
				{% if drill_down %}<span class="label label-info"> {{drill_down}}</span>{% endif %}
				{% if rec_count %} <span class="label label-info">{{rec_count}}</span> {% endif %}</h1>
			{% if form.errors %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				{{form.errors}}
			</div>
			{% endif %}
		</div>
		{% include "portal/elster_rma_display_form.html" %}
		  <div style="max-width: 968px; overflow-x:scroll; border-radius:1em;">
			{% render_table table %}
		  </div>
	{% endblock %}
</div>
