{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Elster Common Quality System{% endblock %}
{% block toggle_login %}{% endblock %}
	{% block heading %}
	{% endblock %}
	{% load render_table from django_tables2 %}
	<div class="container">
		{% block content %}
		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}
			<h1>Elster Meter Quality Items </h1>
			{% if drill_down %}<h2>Filtered by: <span class="label label-info"> {{drill_down}}</span></h2>{% endif %}
			  <div >
				{% render_table table %}
			  </div>
		{% endblock %}
	</div>
