 {% extends "base.html" %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}

	{% load breadcrumbs %}
	{% block breadcrumbs %}
	{% breadcrumb_style_open %}
		{% breadcrumb_url 'Home' 'index' %}
		{% breadcrumb_url "Elster-RMA" "choose_elster_rma" %}
		{% breadcrumb "Edit" "#" %}
	{% breadcrumb_style_close %}
	{% endblock %}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Elster Meter Track {{ emt }}</h1>
			{% if messages %}
				{% for message in messages %}
					{% if message.tags == 'error' %}
						<div class="alert alert-warning alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						  <strong>{% if message.tags %} {{ message.tags }}{% endif %}</strong> {{ message }}
						</div>
					{% endif %}
					{% if message.tags == 'info' %}
						<div class="alert alert-info alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						  <strong>{% if message.tags %} {{ message.tags }}{% endif %}</strong> {{ message }}
						</div>
					{% endif %}					
				{% endfor %}
			{% endif %}

			<form class="form-horizontal" method="post" action="">
				{% csrf_token %}
					{% bootstrap_form elster_meter_track_form %}
					{% buttons %}
					<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-floppy-save">Submit</span>
					</button>
					{% endbuttons %}
			</form>
		</div>
	</div>
</div>
{% endblock %}