  <style class="text/css">
		 ul li {
			   list-style: none;
		 }
  
	 FORM DT {
	  clear:both;
	  width:33%;
	  float:left;
	  text-align:left;
	 }
  
	 FORM DD {
	  float:left;
	  width:66%;
	  margin:0 0 0.5em 0.25em;
	 }
	 </style>
  
   <script src="{{STATIC_URL}}js/jquery.min.js" type="text/javascript"></script>
   {% include 'autocomplete_light/static.html' %}

   <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css">
  
   <script src="{{STATIC_URL}}js/jquery-ui.js"></script>
   <script>
	$(function() {
	$( ".datepicker" ).datepicker({
	 changeMonth: true,
	 changeYear: true,
	 today: true,
	 yearRange: "2008:2018",
	 dateFormat: 'yy-mm-dd',
	 showOn: "button",
	 buttonImage: "{{STATIC_URL}}img/icon_calendar.gif",
	 // You can put more options here.
  
	});
	});
	</script>

<script type="text/javascript">
function choiceChange(){
  if (document.getElementById("id_search_type"))
  {
	var choice_select = document.getElementById("id_search_type");
	var controlToHide = choice_select.options[choice_select.selectedIndex].value;
	console.log("In choiceChange, controlToHide is " + controlToHide);

	// Hide all regions
	document.getElementById('date_range').style.display = 'none';
	document.getElementById('rma_number').style.display = 'none';
	document.getElementById('record').style.display = 'none';
	// Display the requested region
	document.getElementById
		(controlToHide).style.display = 'block';
	document.getElementById
		(controlToHide).disabled = '';
	//$('input[type=text]').val('');  
	//$('#textarea').val(''); 
  }
  //alert(myselect.options[myselect.selectedIndex].value);
}
</script>

<section id="search" > 
	<div style="background-color:white;border-radius:1em;margin-bottom:1em; max-width: auto;" >
		<div class="row"> 
			<form action="{% url 'choose_elster_rma' %}" method="post">{% csrf_token %}
			<div class="container" style="margin-bottom:1em">
				<div class="col-md-4" style="color: black; ">
				   <dl>
					<br/>
					<dt>Search&nbsp;Type </dt>
					<dd>{{form.search_type}}</dd>
					<dd><input class="btn btn-primary btn-md" type="submit" value="Find RMA Records" /></dd>
				   </dl>
				</div>
				<div class="col-md-8" style="color: black; ">
					<br/>
					<dl>
						<div id='date_range'  
							{% if search_type == 'rma' or search_type == 'none' or search_type == 'record' %}
								style="display:none;" 
							{% endif %} >
						<dt>
							RMA Create start date
						</dt>
						<dd >
							{% if form.start_date.errors %}
								<div class="alert alert-danger"> {{ form.start_date.errors }}</div>
							{% endif %}

							{{form.start_date}}
							<span class="help-block">
								Enter the beginning RMA create date for search</span>
						</dd>
						<dt>
							RMA Create end date
						</dt>

						<dd>
							{% if form.end_date.errors %}
								<div class="alert alert-danger"> {{ form.end_date.errors }}</div>
							{% endif %}	

							{{form.end_date}}
							<span class="help-block">
								Enter the ending RMA create date for search</span>
						</dd>
						</div>
						<div id='rma_number' {% if search_type == 'date_range' or search_type == 'record' or search_type == 'none'  %}
								style="display:none;" {% endif %}>
							<dt>Elster RMA number</dt>
							<dd> 	
								{% if form.rma_number.errors %}
									<div class="alert alert-danger"> {{ form.rma_number.errors }}</div>
								{% endif %}

								{{form.rma_number}}
								<span class="help-block">
									Enter RMA or leave blank</span>
							</dd>
						</div>
						<div id='record' {% if search_type == 'date_range' or search_type == 'rma' or search_type == 'none' %}
									style="display:none;" 
								{% endif %} >
							<dt>Record by Serial or Barcode</dt>
							<dd> 	
								{% if form.meter_track_record.errors %}
									<div class="alert alert-danger"> {{ form.meter_track_record.errors }}</div>
								{% endif %}

								{{form.meter_track_record}}
								<span class="help-block">
									Choose Record by Serial and Barcode </span>
							</dd>
						</div>
					</dl>
				</div>
				</form>
			</div>
		  </div>
	</div>
</section id="search">