
div.table-container {
	background-image: none !important;
	background-color: white !important; 
	color: black; 
	display: inline-table;
	border-radius:1em;
	margin-bottom:1em;
}

div.fixed-max-width-800 {
   max-width:800px; 
}

::-webkit-input-placeholder {
    color:    #666;
}
:-moz-placeholder {
    color:    #666;
}
::-moz-placeholder {
    color:    #666;
}
:-ms-input-placeholder {
    color:    #666;
}

div.chart-bordered {
	background-color:white; 
	border:1em dotted white; 
	border-radius:5px; 
	margin-bottom: 1em;
	color:#57A3C9;
}

.autocomplete-light-text-widget {
	color:black;
    background:white;    
	width: 20em;
    padding:3px;
    margin:3px;
    font-family:Arial;
    border:1px solid #666;
}

input {
    color:black;
    background:white;    
    padding:3px;
    margin:3px;
    font-family:Arial;
    border:1px solid #666;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

.chart_description {
	color:#57A3C9;
	font-weight: 600;
    font-family:Arial;
}

.chart_description_bold {
	color:#57A3C9;
	font-weight: 600;
	font-size: 1.3em;
    font-family:Arial;
}

.concat div { 
	overflow: hidden; 
	-ms-text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	width: inherit; 
}

div.long_text_column {
	#white-space: normal;
	white-space: no-wrap;
	width: 12em;
	height: 1.3em;
	overflow: hidden; 
	-ms-text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	text-overflow: ellipsis; 
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 800
	font-size: 1.2em;
	padding: 3em 0;
	padding-top: 70px;
	/* background-image: url({{STATIC_URL}}img/big-people-background1.jpg);  */
	background-position: 0% 25%;
	background-size: auto;
	background-color: #57A3C9; 
	background-repeat: no-repeat;
	/* text-shadow: black 0.3em 0.3em 0.3em; */
	color: white; 
}
@media (max-width: 1280px) {
  body {
	padding-top: 70px;
  }
}
	
.btn {
	border: .5px solid;
}

.primary_content {
	font-size: 1.3em;
	margin: .5em 0;
	line-height: 1.45;
	margin-bottom: 0px;
}

.condensed_content {
    font-size: 0.85em;
    line-height: 1;
}


.chart_description_bold {
    font-size: .9em;
    font-weight: 500;
}