
div.table-container {
	background-image: none !important;
	background-color: white !important; 
	color: black; 
	display: inline-table;
	border-radius:1em;
	margin-bottom:1em;
}

div.fixed-max-width-800 {
   max-width:800px; 
}

::-webkit-input-placeholder {
    color:    #666;
}
:-moz-placeholder {
    color:    #666;
}
::-moz-placeholder {
    color:    #666;
}
:-ms-input-placeholder {
    color:    #666;
}

input {
    color:black;
    background:white;    
    padding:3px;
    margin:5px;
    font-family:Arial;
    border:1px solid #666;
}

.concat div { 
	overflow: hidden; 
	-ms-text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	text-overflow: ellipsis; 
	white-space: nowrap; 
	width: inherit; 
}

div.long_text_column {
  #white-space: normal;
  white-space: no-wrap;
  width: 200px;
  #height: 4em;
}