.term-cloud {font-family: arial; font-size: 10px; }
.term-cloud-1 {font-size: 10px; color: #19070B; }
.term-cloud-2 {font-size: 14px; color: #FF0000; }
.term-cloud-3 {font-size: 18px; color: #210B61; }
.term-cloud-4 {font-size: 22px; color: #B40431; }
.term-cloud-5 {font-size: 26px; color: #B43104; }
.term-cloud-6 {font-size: 32px; color: #088A08; }
.term-cloud-7 {font-size: 36px; color: #0431B4; }
.term-cloud-8 {font-size: 40px; color: #081122; }
.term-cloud-9 {font-size: 44px; color: #000000; }
.term-cloud-error {font-family: arial; font-size: 10px; color: red; }
.term-cloud-link {text-decoration: none; }
.term-cloud-link:hover {text-decoration: underline;}