{% extends "admin/base.html" %}

{% block extrahead %}
	<!--<script src="{{STATIC_URL}}js/jquery.min.js"></script>
	{% include 'autocomplete_light/static.html' %}-->
{% endblock %}

{% block title %}{{ title }} | {{ site_title }}{% endblock %}

{% block branding %}
 <img  id="site-name" class="navbar-brand" src="http://www.elstersolutions.com/assets/images_system/elster-logo.png" alt="elster logo" />
 <a href="{% url 'admin:index' %}">elster&nbsp;<small>MQ&nbsp;ADMIN</small></a>
{% endblock %}

{% block nav-global %}{% endblock %}