<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<meta name="description" content="Common Quality System">
		<script src="{{STATIC_URL}}js/jquery.min.js"></script>
		<!-- Bootstrap -->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="{{STATIC_URL}}js/html5.js"></script>
		  <script src="{{STATIC_URL}}js/respond.min.js"></script>
		<![endif]-->
		
		<link href="{{STATIC_URL}}css/bootstrap.min.css" media="screen" rel="stylesheet">
		<!-- <link href="{{STATIC_URL}}css/style.css" media="screen" rel="stylesheet"> -->
		<link href="{{STATIC_URL}}css/portal-style.css" media="screen" rel="stylesheet">
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

		<title>{% block title %}{% endblock %}</title>

		{% include 'navbar.html' %}
		<body>

	</head>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>

	</body>
</html>