{% extends 'base.html' %}


{% block content %}
	{% load breadcrumbs %}
	{% block breadcrumbs %}
	{% breadcrumb_style_open %}	
		{% breadcrumb_url 'Home' 'index' %}
		{% breadcrumb_url "Contact" "contact_us" %}
	{% breadcrumb_style_close %}		
	{% endblock %}

<div class="container primary_content">
<div class="row" >
<div class="col-md-6 col-md-offset-3">
<h1>Contact Elster</h1>
<br><p>Thanks for using ECQP.</p>
<p>Contact Elster with questions or if you are having issues using the application.</p>
<br>
<a class="btn btn-primary btn-lg" href="mailto:EnergyAxis.Support@elster.com?Subject=Question%20about%20ECQP" target="_top">Send Mail</a>
</div>
</div>
</div>
{% endblock %}