{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block title %}Reports{% endblock %}

{% block toggle_login %}{% endblock %}

{% block heading %}
Reports
{% endblock %}

{% block content %}
	{% load breadcrumbs %}
	{% block breadcrumbs %}
	{% breadcrumb_style_open %}
		{% breadcrumb_url 'Home' 'index' %}
		{% breadcrumb "Custom Reports" "#" %}
	{% breadcrumb_style_close %}
	{% endblock %}

<!-- Navigation -->
{% include 'navbar.html' %}
<div style="background-color:white;border-radius:1em;margin-bottom:1em" >
	<div style="margin: 1em auto 1em auto; color: black; ">
		<div style="height: 1em; "></div>
		<section id="summary">
            <div class="row row-padded" />
                <div class="container">
                    <div class = "col-md-12">
                        <h1 class="text-center">Custom Reports</h1>
                        <h4 class="text-center">Clicking the link(s) below will run the report in a new page and provide a download button.</br>
                            These are large reports and take a significant time to load so be patient.</br></br>
                            <span class="label label-warning">If you do not wish to view the report or if it takes too long 
                                simply download the report directly on this page using the download button.
                            </span>
                        </h4>
                    </div>
                </div>
                <div style="height: 2em; "></div>
                <div class="container" width="auto;">
                    <div class="row row-padded" />

                        {% for report in reports %}
                            <div class = "col-md-3">
                                <a href="{{report.link}}.csv" download="{{report.name}}.csv">
                                    <button type="button" class="btn btn-default pull-right">
                                    <i class="fa fa-download"> Download Directly </i>
                                    </button>
                                </a>
                            </div>
                            <div class = "col-md-9">
                                <div class="list-group">
                                    <p class="list-group-heading"><a href="/run_one_report/{{report.pk}}/">{{report.name}}</a> </p>
                                    <p class="list-group-item-text">{{report.description}}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
		</section>  
	</div>
</div>
{% endblock %}
