{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Elster Common Quality System{% endblock %}

{% block toggle_login %}{% endblock %}

{% block heading %}
<h2>Welcome to Elster Common Quality</h2>
{% endblock %}

{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<!--script type="text/javascript" src="//use.typekit.net/kay0rxs.js"></script>-->

<script src="{{STATIC_URL}}js/jquery.min.js" type="text/javascript"></script>


<link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">
<style class="text/css">
.jumbotron {
	margin-bottom: 0px;
	background-image: url({{STATIC_URL}}img/background.png);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
}

.primary_content {
	font-size: 1.3em;
	margin: .5em 0;
	line-height: 1.45;
}
</style>

  <div class="jumbotron">
     <div class="container">
    	<h1 >elste<font SIZE="9">r</font> <font SIZE="7">CQ</font> portal</h1> 
    	<p class="primary_content">The ECQP ties quality information from your
		system to quality findings from Elster </p>
	    	{% if request.user.is_authenticated %}
	    		<h2>Welcome</h2>
	    		<p class="primary_content">
	    		<img src="{{user.socialaccount_set.all.0.get_avatar_url}}" height="70"/>
	    		{% if request.user.first_name or request.user.last_name %}
	    			{{ request.user.first_name }} {{ request.user.last_name }}
	    		{% else %}
	    			{{ request.user.username }}
	    		{% endif %}
	    		{% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
	    	{% else %}
	    		</p>

	    		<p class="primary_content"><a href="{% url 'account_login' %}" class="btn btn-primary btn-lg" role="button">Login or Signup Now</a></p>
	    	{% endif %}
  
      		<div class="col-md-4">
	      	  <h2>More Stuff Here</h2>
      		  <p>Some more stuff.<p>
		      	<p class="primary_content"><a href="{% url 'contact_us' %}" class="btn btn-primary btn-lg" role="button">Need Help? &raquo;</a></p>
		</div>
	   </div>
      </div>

      <hr>
    
      <footer>
    	<p>Yet another tool from Elster... &copy; Elster Solutions 2014</p>
      </footer>
    </div> <!-- /container -->

{% endblock %}