{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Elster Common Quality System{% endblock %}

{% block toggle_login %}{% endblock %}

{% block heading %}
<h2>Welcome to Elster Common Quality Portal</h2>
{% endblock %}

{% block content %}
	{% load breadcrumbs %}
	{% block breadcrumbs %}
	{% breadcrumb_style_open %}	
		{% breadcrumb_url 'Home' 'index' %}
	{% breadcrumb_style_close %}		
	{% endblock %}
	
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<script src="{{STATIC_URL}}js/jquery.min.js" type="text/javascript"></script>

<link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">
<style class="text/css">
.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}
.primary_content {
	font-size: 1.3em;
	margin: .5em 0;
	line-height: 1.45;
}
</style>
	 <div style="container" style="background-color:#57A3C9;" >

		<div >
			{% if request.user.is_authenticated %}
				<ul class="list-group">
					<li class="list-group-item" style="color:#57A3C9;">Total Elster RMA Records: {{total_elster_records}}</li>
					<li class="list-group-item" style="color:#57A3C9;">Total Customer Records: {{total_customer_records}}</li>
					<li class="list-group-item" style="color:#57A3C9;">Total Open RMA Records: <span class="label label-warning">{{total_outstanding_rma}}</span></li>
				</ul>
				<!--
				{% if request.user.first_name or request.user.last_name %}
					{{ request.user.first_name }} {{ request.user.last_name }}
				{% else %}
					{{ request.user.username }}
				{% endif %}
				{% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
				-->
			{% else %}
					<a href="{% url 'account_login' %}" class="btn btn-primary btn-lg" role="button">Login or Signup Now</a>
			{% endif %}

			<h1 >Elster MQ Portal</h1> 
			<p class="primary_content">Joining information from your system to quality findings from Elster </p>
		</div>
		<div style="margin: 1em auto;margin-bottom:1em; display: table; ">
		
		<div id="carousel-elster-portal" class="carousel slide fixed-max-width-800" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#carousel-elster-portal" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-elster-portal" data-slide-to="1"></li>
			<li data-target="#carousel-elster-portal" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
			<div class="item active">
			  <img src="{{STATIC_URL}}img/people-background1.jpg" alt="Customers">
			  <div class="carousel-caption">
				<h1>Portal to Meter Quality</h1>
			  </div>
			</div>
			<div class="item">
			  <img src="{{STATIC_URL}}img/gas-meters.jpg"  alt="Gas">
			  <div class="carousel-caption">
				<!--... -->
			  </div>
			</div>
			<div class="item">
			  <img src="{{STATIC_URL}}img/solar-panels.jpg"  alt="Solar">
			  <div class="carousel-caption">
				<!--... -->
			  </div>
		    </div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-elster-portal" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-elster-portal" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>		
		
		<!--p class="primary_content"><a href="{% url 'contact_us' %}" class="btn btn-primary btn-lg" role="button">Need Help? &raquo;</a></p>
		  <div style="height: 1em;">
		</div-->
	</div>
	</div>
	  <footer>
		<p> &copy; Elster Solutions 2014</p>
	  </footer>

{% endblock %}