{% extends "base.html" %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block title %}Reports{% endblock %}

{% block toggle_login %}{% endblock %}

{% block heading %}
Reports
{% endblock %}

{% block content %}
	{% load breadcrumbs %}
	{% block breadcrumbs %}
	{% breadcrumb_style_open %}
		{% breadcrumb_url 'Home' 'index' %}
		{% breadcrumb "Summary" "#" %}
	{% breadcrumb_style_close %}
	{% endblock %}

<!-- Navigation -->
{% include 'navbar.html' %}

<style><link rel="stylesheet" 
href="{{STATIC_URL}}css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="{{STATIC_URL}}/js/jquery.dataTables.min.js"></script>

<div class="condensed_content" style="overflow: auto;background-color:white;border-radius:.5em; margin-bottom:1em; margin:1em auto 1em auto; color: black; " >
		<div style="height: 0.9em; "></div>
                <h1 class="text-center">RMA Yearly Summary</h1> 
                    <table id="stable" class="table table-striped table-hover" >
                    <thead>
                    <tr  class="success">
                    {% for field in summary_header_fields %}
                        {% if forloop.counter > 8 %}
                            <th style="background-color:#99CCFF">{{field|safe}}</th>
                        {% else %}
                            <th>{{field|safe}}</th>
                        {% endif %}
                    {% endfor %}
                    </thead>
                    <tbody>
                    {% for year, value in yearly_summary.items %}
                        <tr>
                            {% for key, value in value.items %}
                                <td >{{value}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
    <div class="well well-sm">
        <h4>Footnotes</h4>
        *1 Based on meters removed as results of meter issues and based on customer removal date.</br>
        *2 Based on meters processed through customer backhaul for the month and based on RMA create date.</br>
        *3 Elster could not duplicate customer complaint. </br>
        *4 Based on total RMA less all failures (U6, NPF, Other)</br>
        *5 Does not represent 100% failures, identified and pulled prior to field installation.	
    </div>
</div>
</div>

<script>
    $(document).ready(function(){
        $('#stable').dataTable();
    });
</script>
{% endblock %}
